@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android'; /* Nome que você vai usar no CSS */
    src: url('../fontes/idroid.otf') format('opentype'); /* Caminho da fonte */
    font-weight: normal;
    font-style: normal;
}

:root {
    --COR1: #C5EBD6;
    --COR2: #83E1AD;
    --COR3: #3DDC84;
    --COR4: #2FA866;
    --COR5: #1A5C37;
    --COR6: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', impact;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--COR1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--COR3), var(--COR5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.379);
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.379);
}

nav {
    background-color: var(--COR5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.311);
}

nav > a {
    color: var(--COR2);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--COR3);
    color: var(--COR5);
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

main h1 {
    color: var(--COR5);
    font-family: 'Android';
}

main h2 {
    color: var(--COR5);
    font-family: 'Android';
    font-size: 1.8em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--COR2), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bold;
    color: var(--COR5);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--COR5);
    background-color: var(--COR2);
    padding: 2px 8px;
}

main a:hover {
    text-decoration: underline;
    color: var(--COR4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}
div.video {
    background-color: var(--COR6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--COR2);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.395);
}

aside h3 {
    background-color: var(--COR5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--COR5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

footer a {
    color: var(--COR1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--COR3);
}